<?xml version='1.0' encoding='utf-8'?>
<plugin id="plugin.google.maps" version="1.2.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>phonegap-googlemaps-plugin</name>
    <js-module name="phonegap-googlemaps-plugin" src="www/googlemaps-cdv-plugin.js">
        <clobbers target="plugin.google.maps" />
    </js-module>

    
    <description>Google Maps native SDK for Android and iOS</description>
    <repo>https://github.com/wf9a5m75/phonegap-googlemaps-plugin/</repo>
    <issue>https://github.com/wf9a5m75/phonegap-googlemaps-plugin/issues</issue>

    <license>Apache 2.0</license>
    
    <keywords>google,maps,geo</keywords>
    
    <engines>
      <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="External">
                <param name="android-package" value="plugin.google.maps.External" />
            </feature>
        </config-file>
        
        <!-- plugin src files -->
        <source-file src="src/android/plugin/google/maps/External.java" target-dir="src/plugin/google/maps" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="External">
                <param name="ios-package" value="External" />
            </feature>
        </config-file>

        <header-file src="src/ios/GoogleMaps/Circle.h" />
        <source-file src="src/ios/GoogleMaps/Circle.m" />
        <header-file src="src/ios/GoogleMaps/External.h" />
        <source-file src="src/ios/GoogleMaps/External.m" />
        <header-file src="src/ios/GoogleMaps/Geocoder.h" />
        <source-file src="src/ios/GoogleMaps/Geocoder.m" />
        <header-file src="src/ios/GoogleMaps/GoogleMaps.h" />
        <source-file src="src/ios/GoogleMaps/GoogleMaps.m" />
        <header-file src="src/ios/GoogleMaps/GoogleMapsViewController.h" />
        <source-file src="src/ios/GoogleMaps/GoogleMapsViewController.m" />
        <header-file src="src/ios/GoogleMaps/GroundOverlay.h" />
        <source-file src="src/ios/GoogleMaps/GroundOverlay.m" />
        <header-file src="src/ios/GoogleMaps/KmlOverlay.h" />
        <source-file src="src/ios/GoogleMaps/KmlOverlay.m" />
        <header-file src="src/ios/GoogleMaps/Map.h" />
        <source-file src="src/ios/GoogleMaps/Map.m" />
        <header-file src="src/ios/GoogleMaps/Marker.h" />
        <source-file src="src/ios/GoogleMaps/Marker.m" />
        <header-file src="src/ios/GoogleMaps/MyPlgunProtocol.h" />
        <header-file src="src/ios/GoogleMaps/PluginUtil.h" />
        <source-file src="src/ios/GoogleMaps/PluginUtil.m" />
        <header-file src="src/ios/GoogleMaps/Polygon.h" />
        <source-file src="src/ios/GoogleMaps/Polygon.m" />
        <header-file src="src/ios/GoogleMaps/Polyline.h" />
        <source-file src="src/ios/GoogleMaps/Polyline.m" />
        <header-file src="src/ios/GoogleMaps/TBXML.h" />
        <source-file src="src/ios/GoogleMaps/TBXML.m" />
        <header-file src="src/ios/GoogleMaps/TileOverlay.h" />
        <source-file src="src/ios/GoogleMaps/TileOverlay.m" />
        <header-file src="src/ios/GoogleMaps/NSData-Base64/NSData+Base64.h" />
        <header-file src="src/ios/GoogleMaps/NSData-Base64/NSData+Base64.podspec" />
        <source-file src="src/ios/GoogleMaps/NSData-Base64/NSData+Base64.m" />
        <header-file src="src/ios/GoogleMaps/MyPluginLayer.h" />
        <source-file src="src/ios/GoogleMaps/MyPluginLayer.m" />
        <header-file src="src/ios/GoogleMaps/MyReachability.h" />
        <source-file src="src/ios/GoogleMaps/MyReachability.m" />
        <header-file src="src/ios/GoogleMaps/MyPluginLayerDebugView.h" />
        <source-file src="src/ios/GoogleMaps/MyPluginLayerDebugView.m" />
        <header-file src="src/ios/GoogleMaps/MyPluginScrollView.h" />
        <source-file src="src/ios/GoogleMaps/MyPluginScrollView.m" />

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleTypeRole</key>
              <string>Editor</string>
              <key>CFBundleURLName</key>
              <string>$PACKAGE_NAME</string>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>$PACKAGE_NAME</string>
              </array>
            </dict>
          </array>
        </config-file>
        
        <dependency id="com.googlemaps.ios" url="https://github.com/wf9a5m75/googlemaps-ios-sdk-for-phonegap" commit="master" />
    </platform>
</plugin>
